export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="postgres://brighton:brighton@localhost:5432/order_desk?sslmode=disable"
export DATABASE_URL="postgres://brighton:brighton@localhost:5432/order_desk?sslmode=disable"