{{ define "adminBase" }}
<!DOCTYPE html>
<html lang="en" hx-headers='{"X-CSRF-TOKEN": {{ $.csrf }} }'>
<head>
  <title>{{ block "title" . }}OD{{ end }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/stylesheets/houserules.css">
  <link rel="stylesheet" href="/assets/stylesheets/topbar.css">
  <link rel="stylesheet" href="/assets/stylesheets/nav.css">

  {{ block "stylesheets" . }}{{end}}
  {{ block "scripts" . }}{{end}}
  <script defer src="/assets/scripts/feedback.js"></script>
  <script defer src="/assets/scripts/htmx.min.js"></script>

</head>
<body>
  {{ template "feedback" . }}
  <div class="app">
    {{ template "navbar" . }}
    
    <main>
      {{ template "topbar" . }}
      <div class="content">
        {{ block "content" . }}{{ end }}
      </div>
    </main>
      
    <!-- {{ template "footer" . }} -->
  </div>
  {{ block "modals" . }}{{end}}
</body>
</html>
{{ end }}
