{{ define "base" }}
<!DOCTYPE html>
<html>
<head>
  <title>{{ block "title" . }}Default{{ end }}</title>
  
  <link rel="stylesheet" href="/assets/stylesheets/houserules.css">
  <link rel="stylesheet" href="/assets/stylesheets/topbar.css">
  <link rel="stylesheet" href="/assets/stylesheets/nav.css">
  <link rel="stylesheet" href="/assets/stylesheets/supplierList.css">

  {{ block "stylesheets" . }}{{end}}
  {{ block "scripts" . }}{{end}}
  <script defer src="/assets/scripts/supplierList.js"></script>

</head>
<body>
  <div class="app">
    {{ template "navbar" . }}
    
    <main>
      {{ template "topbar" . }}
      <div class="content">
        {{ template "supplierList" . }}
        {{ block "content" . }}{{ end }}
      </div>
    </main>
      
    <!-- {{ template "footer" . }} -->
  </div>
</body>
</html>
{{ end }}